.App {
  max-width: 100%;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title form {
  display: flex;
}

.title form input {
  width: 300px;
  padding: 4px;
  font-size: 18px;
}

.container {
  width: 90%;
  margin: auto;
}
